.header {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: georgia;
}
.article {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-style: georgia;
  font-size: 20px;
}
.menu {
  text-align: center;
}
.menu a:link{
  color: #00ff00;
  text-decoration: none;
}
.menu a:active{
  color: #00ff00;
  text-decoration: none;
}
.menu a:hover{
  color: #00ff00;
  text-decoration: none;
}
